body {
  margin: 0px;
  padding: 0px;
 

}

footer {
  background-color:#7D9D9C;
  margin: 0px;
  padding: .5em;
}

/* --- nav --- */


.nav-container {
  background-color:#7D9D9C;
  padding: 1.5rem;
  margin: 0rem;
  height: 2vh;
  position: relative; 
  top: 0;
}

nav {
padding: 0px 50rem ;
}

nav ul {
margin: 0px 1.4rem;
padding: 0px;
list-style: none;
}

nav li {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin: 0.3rem;
}

nav a {
  color: #090300;
  text-decoration: none;
  text-transform: uppercase;
}


/* end nav */


a {
  color: #090300;
  text-decoration: none;
}


.index-container {

  margin: 30px;
  display: flex;
  flex-direction: row-reverse;

}

header {
  background-color:rgb(236, 235, 234);
  margin: 0px;
  border: .5px black solid;
}

 h1, h2, h3, h4{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0.4em;

}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: .7rem;
}

.index-container section {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.index-container p {
 
  max-width: 45ch; 
  text-align: left;
  margin: 0px;
}

.index-container div {
 
  background-color: white;
  padding-left: 0.2em; 
  /* text-align: center; */
  

}

.index-container article {
  margin-left: auto;
  margin-right: auto;
 

}

.img {
  width: 30%;
  height: auto;
  padding: 0px; 

  
}

.blog-container {
  background-color: white;
  margin: 0px;
  /* padding: 0.1em; */
  /* border: 3px  red solid; */
  display: flex;
  flex-direction: row;

}


.blog-sidebar {
  width: 10%;
  background-color: rgb(236, 235, 234);
  margin:0px;
  border: .5px black solid;
  font-size: 1.5rem;
}

.blog-sidebar p {
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  Margin: 0px;
  padding: .5rem;
}


 .blog-sidebar ul {
  list-style: none;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  padding: .7rem;
} 

.blog-sidebar li {

  margin: .5rem;
}


.blog-content {
  width: 70%;
  max-width: 75ch; 
  padding: 2em;
  background-color: white;
}

.blog-content  h4 {
 text-align: left;
}


.blog-content p {
  
   
  text-align: left;
  font-size: 1rem;

}

.blog-content img {
 
  height: 2.5%;
  width: auto
   
 
  
}

#core {

}

#tech {

}



@media (max-width: 768px) {
  .blog-content {
  width: 90%;
  font-size: 2rem;
  padding: .5em;
  }
}

@media (max-width: 768px ) {
  .blog-container {
    flex-direction: column;
  }
}
 
@media (max-width: 768px) {
  .blog-sidebar {
     width: 100%;
    font-size: .9rem;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding: .5em;
  }
}

@media (max-width: 768px) {
  .blog-sidebar ul, .blog-sidebar p{
    margin: 0px;
    padding: 0px;
    font-size: .9rem;
    list-style: none;
   

  }
}

@media (max-width: 768px) {
 .blog-sidebar ul li{
  list-style: none;


  }
}



/* @media (max-width: 768px) {
  .blog-sidebar p{
    margin: 0px;
    padding: 0px;
    font-size: .9rem; */

  

/*--- main ---*/
/*
body {text-align: left;
  margin: 0px;
  background-color:  #F0EBE3;
  color: #39656b;
}

main {
  background-color: #39656b;
  color:#E4DCCF;
  font-family: sans-serif; 
  font-size: 1vm;
  padding: 10px; 
  margin: 20px; 
}


h1 {text-align: center;
    font-family: sans-serif;   
    color:#39656b;
    width:80vm;
    font-size: 5vmin;
    margin: 90px 0px 20px;
}



h2 {text-align: center;
  font-family: sans-serif;    
  font-size: 2.5vmin;
  color:#7D9D9C;
  margin-bottom: 2vmin;
}

h3 {text-align: center;
  font-family: sans-serif;    
  font-size: 1.5vmin;
  color: #f00d0d;
  margin-bottom: 8vmin;
}


img { 
  border: 10px solid #ff9962;
  border-radius: 4px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vmin;
  margin-top: 5vmin;
  width: 25%;
}

.body-header {
  font-size: 3vmin;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #39656b;
  font-style: italic;
}


span {
  color: #ff610b;
}

footer {
  padding: 0px 15px; 
  color:#090300;

}

#bottomlink {
  margin-top: 10vmin;
  
}


.techblog-container {
  background-color:#3aa018;
  margin: 15px;
}

.techblog-container h2 {
  padding: 30px;
}
.techblog-container p {
  margin: 20px 50px;
  background-color:#7D9D9C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 5px;
}

.non-box-div {
background-color: #39656b;
padding: 15px;
}


.box {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 4px solid red;
  padding: 0px;
}

.box-2 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  padding: 200px;
  border: 4px solid red;
}

.box-3 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  border: 4px solid red;
  padding: 0px;
}

.box-4 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 15px solid red;
  padding: 0px;
}

.box-5 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 15px solid red;
  padding: 50px 0px;
}


.parent-test-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #0eeae3;
  width: auto;
  height: 500px;
  padding: 0px;


}
.test-container {
  
  background:#E4DCCF;
  margin:0px;
  color: black;
  height: 400px;
  width: 200px;
}
 
.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px; 
  margin: 5px;
  background-color: #ffffff; 
  width: 90vmax;
}

.blog-post-container {
  font-family: 'Times New Roman', Times, serif; 
  padding: 20px;
  margin: 20px 0px;
  padding: 5px; 
  border: .5px black solid;
  width: 70vmax;
}

.blog-post-container h2 {
  font-size: 1.5vw;
  text-align: center;
  margin: 20px 0px;
  color:#7D9D9C;
 }
 
 .blog-post-container h3 {
  font-size: 1vw;
  text-align: left;
  margin: 8px 0px;
  color:#39656b;
 }

 .blog-post-container h4 {
  font-size: .9vw;
  text-align: left;
  font-style: italic;
  margin: 6px 0px;
  color:#090300; 
 }


 .blog-post-container p {
  font-size:0.9vw;
  text-align:left;
  margin: 5px;
  color:#090300; 
 }


 .blog-link-container {

  width: 15vw;
  padding: 3px;
  color: #b392a3; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 0.9vw; 
}

.blog-link-container ul {
 margin: 0px;
 padding: 0px;;
 list-style: none;
}



.blog-link-container div li {
  margin: 15px 0px;
  font-size: 0.9vw;
  font-style: italic;

}




#identityvalues {
}

#learningplan{

}
*/

