.nav-container {
  background-color:  #7D9D9C;
  padding: 10px;
  margin-top: 0px;
  margin-left: auto;
  position: fixed; 
  top: 0;
  right: 0;
}


body {text-align: left;
  margin: 0px;
  background-color:  #F0EBE3;
  color: #F0EBE3;
}

div {
  background-color: #576F72;
  padding: 5px; 
  margin: 20px;

}

h1 {text-align: center;
    font-family: sans-serif;   
    color:  #F0EBE3; 
    font-size: 5vmin;
    margin-bottom: 5vmin;
}



h2 {text-align: center;
  font-family: sans-serif;    
  font-size: 2.5vmin;
  color: #E4DCCF;
  margin-bottom: 2vmin;
}

h3 {text-align: center;
  font-family: sans-serif;    
  font-size: 1.5vmin;
  color: #a8a6a6;
  margin-bottom: 8vmin;
}



img { 
  border: 10px solid #ff9962;
  border-radius: 4px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vmin;
  margin-top: 5vmin;
  width: 25%;
}

.body-header {
  font-size: 3vmin;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #39656b;
  font-style: italic;
}


span {
  color: #ff610b;
}

#bottomlink {
  margin-top: 10vmin;
  
}


p {
  margin: 20px 50px;
  background-color:#7D9D9C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vmin;

  padding: 5px;

}

/*d efeinitely a better way than copy and pasting the paragraph tag values */

ul {
  margin: 40px 30px;
  background-color:#7D9D9C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

  padding: 5px;
}

ol {
  margin: 40px 30px;
  background-color:#7D9D9C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;

  padding: 5px;
}

.box {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 4px solid red;
  padding: 0px;
}

.box-2 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  padding: 200px;
  border: 4px solid red;
}

.box-3 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  border: 4px solid red;
  padding: 0px;
}

.box-4 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 15px solid red;
  padding: 0px;
}

.box-5 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 15px solid red;
  padding: 50px 0px;
}

.parent-test-container {
  background: #7D9D9C;
  width: 1200px;
  height: 500px;
  position: relative;
  padding: 0px;
  top: 80px;

}
.test-container {
  background:#E4DCCF;
  margin:0px;
  color: black;
  height: 400px;
  width: 200px;
  position: absolute;
  top: 0;


}
 

/*has to be a more effecient way to write the media qs */

@media  (max-width: 768px) {
  body {
   color: green;
  }
 }

@media  (max-width: 370px) {
 body {
  color: red;
 }
}
 