.nav-container {
  background-color:  #7D9D9C;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 0px;
  width: 100%;
  height: 2vmax;
  position: fixed; 
  top: 0;
}
nav {

padding: 0px 10px ;
}
nav ul {
margin: 0px;
padding: 0px;
list-style: none;
}

nav li {
  float: right;
  margin: 10px;
}


@media (max-width: 370px) {
  nav li{
    float: left;
    margin: 10px;
  
  }
}

nav a {
  color: #090300;
  text-decoration: none;
  text-transform: uppercase;
}

body {text-align: left;
  margin: 0px;
  background-color:  #F0EBE3;
  color: #39656b;
}


h1 {text-align: center;
    font-family: sans-serif;   
    color:#39656b;
    width:80vm;
    font-size: 5vmin;
    margin: 90px 0px 20px;
}



h2 {text-align: center;
  font-family: sans-serif;    
  font-size: 2.5vmin;
  color:#7D9D9C;
  margin-bottom: 2vmin;
}

h3 {text-align: center;
  font-family: sans-serif;    
  font-size: 1.5vmin;
  color: #f00d0d;
  margin-bottom: 8vmin;
}



img { 
  border: 10px solid #ff9962;
  border-radius: 4px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vmin;
  margin-top: 5vmin;
  width: 25%;
}

.body-header {
  font-size: 3vmin;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #39656b;
  font-style: italic;
}


span {
  color: #ff610b;
}

#bottomlink {
  margin-top: 10vmin;
  
}
/*tech blog styles */ 

.techblog-container {
  background-color:#3aa018;
  margin: 15px;
}

.techblog-container h2 {
  padding: 30px;
}
.techblog-container p {
  margin: 20px 50px;
  background-color:#7D9D9C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 5px;
}

.non-box-div {
background-color: #39656b;
padding: 15px;
}


.box {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 4px solid red;
  padding: 0px;
}

.box-2 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  padding: 200px;
  border: 4px solid red;
}

.box-3 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  border: 4px solid red;
  padding: 0px;
}

.box-4 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 15px solid red;
  padding: 0px;
}

.box-5 {
  background: pink;
  color: blue;
  width: 200px;
  height: 200px; 
  margin-left: auto;
  margin-right: auto;
  border: 15px solid red;
  padding: 50px 0px;
}


.parent-test-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #0eeae3;
  width: auto;
  height: 500px;
  padding: 0px;


}
.test-container {
  
  background:#E4DCCF;
  margin:0px;
  color: black;
  height: 400px;
  width: 200px;
}
 
/* blog styles */ 

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px; 
  margin: 5px;
  background-color: #ffffff; 
}


/* .blog-container div {
  margin: 0px;
  padding: 4px;
  border: 4px black solid;
} */


.blog-post-container {
  font-family: 'Times New Roman', Times, serif; 
  padding: 20px;
}

@media (min-width: 769px) {
  .blog-post-container{ 
    width: 60vmax;
  }
}
@media (max-width: 768px) {
  .blog-post-container {
  width: 80vmax;
  }
}
@media (max-width: 370px) {
  .blog-post-container {
  width: 90vmax;
  }
}
.blog-post-container div {
  margin: 20px 0px;
  padding: 5px; 
  border: .5px black solid;
}


.blog-post-container h2 {
  font-size: 1.5vw;
  text-align: center;
  margin: 20px 0px;
  color:#7D9D9C;
 }
 
 .blog-post-container h3 {
  font-size: 1vw;
  text-align: left;
  margin: 8px 0px;
  color:#39656b;
 }

 .blog-post-container h4 {
  font-size: .9vw;
  text-align: left;
  font-style: italic;
  margin: 6px 0px;
  color:#090300; 
 }


 .blog-post-container p {
  font-size:0.9vw;
  text-align:left;
  margin: 5px;
  color:#090300; 
 }

 /* Haders currently have their own gloabl properties thats why colours are chaning */


 .blog-link-container {

  width: 15vw;
  padding: 3px;
  color: #b392a3; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 0.9vw; 
}

.blog-link-container ul {
 margin: 0px;
 padding: 0px;;
 list-style: none;
}



.blog-link-container div li {
  margin: 15px 0px;
  font-size: 0.9vw;
  font-style: italic;

}




#identityvalues {
}

#learningplan{

}




/*has to be a more effecient way to write the media qs */

@media  (max-width: 768px) {
  body {
   color: green;
  }
 }

@media  (max-width: 370px) {
 body {
  color: red;
 }
}
 